breathe==4.30.0
furo
git+https://github.com/sphinx-contrib/video
ipywidgets
jupyter-sphinx
myst-nb
myst-parser
nbsphinx
pandoc
sphinx
sphinx-autobuild
sphinx-book-theme
sphinx-copybutton
sphinx-design
sphinx-proof
sphinx-tabs
sphinx-togglebutton
sphinx_markdown_builder
sphinxemoji
sphinxcontrib-youtube
pandoc
